body {
    background-color:grey;
    margin: 100;
    justify-content: center;
}

*{
    /* font-family: 'Gowun Batang', serif; */
    /* font-family: 'Gamja Flower', cursive; */
    font-family: 'Song Myung', serif;
    /* font-family: 'Cute Font', cursive; */
}