#result{
    display: none;
    background-color: black;
    width: 90%;
    text-align: center;
}

.resultname{
    font-size: 26px;
    color: white;
}

.resultDesc{
    font-size: 20px;
    color: white;
}

#shareResult{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
}

#resultImgText {
    display: flex;
    justify-content: center;
}

#resultImg1 {
    /* flex: 1; */
    position: absolute;
    top: 30%;
    left: 21%;
    /* width: 200px; */
}
#resultImg2 {
    /* flex: 1; */
    position: absolute;
    top: 30%;
    left: 43%;
    /* width: 200px; */
}
#resultImg3 {
    /* flex: 1; */
    position: absolute;
    top: 30%;
    left: 65%;
    /* width: 200px; */
}

@media screen and (max-width: 768px) {
    #resultImg1, #resultImg2, #resultImg3 {
        width: 150px;
    }
}

/* .kakao{
    color: black;
    background-color: #FEE500;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
} */

/* button 느낌으로 꾸미기 */
/* .kakao:hover, .kakao:focus {
    background-color: whitesmoke;
    color: #FEE500;
} */