#result{
    display: none;
    background-color: black;
    width: 90%;
    text-align: center;
}

.resultname{
    font-size: 26px;
    color: white;
}

.resultDesc{
    font-size: 20px;
    color: white;
}

#shareResult{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
}

#resultImgText {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
}

#resultImg1 {
    flex: 0 0 auto;
    position: absolute;
    top: 50%;
    left: 0%;
    margin-right: 10px;
    /* transform: translate(-50%, -50%); */
}
#resultImg2 {
    flex: 0 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 10px;
    /* transform: translate(-50%, -50%); */
}
#resultImg3 {
    flex: 0 0 auto;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-right: 10px;
    /* transform: translate(-50%, -50%); */
}

/* .kakao{
    color: black;
    background-color: #FEE500;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
} */

/* button 느낌으로 꾸미기 */
/* .kakao:hover, .kakao:focus {
    background-color: whitesmoke;
    color: #FEE500;
} */